(
"hamza-ar",
"alef-ar",
"alefHamzaabove-ar",
"alefHamzabelow-ar",
"alefMadda-ar",
"behDotless-ar",
"beh-ar",
"beh-ar.yb",
"peh-ar",
"peh-ar.yb",
"teh-ar",
"theh-ar",
"tteh-ar",
"jeem-ar",
"tcheh-ar",
"hah-ar",
"khah-ar",
"dal-ar",
"thal-ar",
"ddal-ar",
"reh-ar",
"zain-ar",
"rreh-ar",
"jeh-ar",
"seen-ar",
"sheen-ar",
"sad-ar",
"dad-ar",
"tah-ar",
"zah-ar",
"ain-ar",
"ghain-ar",
"feh-ar",
"veh-ar",
"fehDotless-ar",
"qafDotless-ar",
"qaf-ar",
"kaf-ar",
"gaf-ar",
"lam-ar",
"lam-ar.yb",
"meem-ar",
"noon-ar",
"noonghunna-ar",
"heh-ar",
"heh-ar.fina",
"hehgoal-ar",
"hehgoalHamzaabove-ar",
"hehDoachashmee-ar",
"tehMarbuta-ar",
"tehMarbutagoal-ar",
"waw-ar",
"waw-ar.alt",
"wawHamzaabove-ar",
"alefMaksura-ar",
"yeh-ar",
"yeh-ar.yb",
"yehHamzaabove-ar",
"yehbarree-ar",
"yehbarree-ar.fina",
"yehbarreeHamzaabove-ar",
"yehbarreeHamzaabove-ar.fina",
"kashida-ar",
"lam_alef-ar",
"lam_alefHamzaabove-ar",
"lam_alefHamzabelow-ar",
"lam_alefMadda-ar",
"decimalseparator-ar",
"thousandseparator-ar",
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
"fourFarsi-ar",
"fourFarsi-ar.urdu",
"sevenFarsi-ar.urdu",
space,
"fullstop-ar",
"comma-ar",
"semicolon-ar",
period,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
guillemetright,
guilsinglright,
quotedbl,
quotesingle,
"percent-ar",
"tahabove-ar",
"dotabove-ar",
"dotbelow-ar",
"twodotsverticalabove-ar",
"twodotsverticalbelow-ar",
"twodotshorizontalabove-ar",
"threedotsupabove-ar",
"threedotsupbelow-ar",
"threedotshorizontalabove-ar",
"hamzaabove-ar",
"hamzabelow-ar",
"fathatan-ar",
"dammatan-ar",
"kasratan-ar",
"fatha-ar",
"damma-ar",
"kasra-ar",
"shadda-ar",
"sukun-ar",
"madda-ar",
"threedotsabove-ar",
"threedotsbelow-ar",
_corner.circle
)